.ListRantel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px 0px;
  width: 100%;
  background: linear-gradient(
    180.2deg,
    rgb(30, 33, 48) 6.8%,
    rgb(74, 98, 110) 131%
  );
}
.listRentel-fl {
  display: flex;
  justify-content: space-around;
  width: 90%;
}
.loading{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading-center{
  height: 40%;
  width: 40%;
}

.ListRantel {
  width: 80%;
  display: grid;
  gap: 20px;
  padding: 20px;
  grid-template-columns: 1fr 1fr 1fr;
}
@media screen and (max-width: 1066px) {
  .ListRantel {
    grid-template-columns: 1fr 1fr;
  }
  .listRentel-fl {
    flex-wrap: wrap;
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .ListRantel {
    width: 90%;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
    justify-content: center;
  }
  .ListRantel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .car-list-filter {
    width: 80%;
  }
  .listRentel-fl {
    flex-wrap: wrap;
    width: 100%;
  }
}
.car-list-filter {
  padding: 20px;
  background-color: rgb(29, 38, 46);
  height: fit-content;
}
.availability {
  color: white;
}
.date-filter-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.date-filter {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  width: 200px;
}
.price-filter {
  color: white;
}
.ranged-input {
  display: flex;
  justify-content: space-between;
}
.fiter-chekbox {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.filter-lable {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}

.filtre-actions {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}
