.sidebar {
  display: grid;
  width: 100%;
  grid-template-columns: 20% 80%;
  height: 90vh;
}
.sidebar-nav {
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: 1.5rem;

  height: 100%;
  background-color: rgb(46, 45, 45);
  align-items: center;

  width: 100%;
  border-right: 1px solid white;
}

.sidebar-nav > a {
  color: rgb(0, 0, 0);
  font-family: "ROBOTO";
  border-radius: 10px;
  width: 70%;
  font-size: 1rem;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: aliceblue;
}
.sidebar-nav > a:hover {
  background-color: rgb(203, 188, 167);
}

.sideBar-outlet {
  background-color: rgb(74, 74, 74);
  width: 100%;


}

@media screen and (max-width: 600px) {
  .sidebar {
    grid-template-columns: 40% 60%;
  }
  .sidebar-nav > a {
    font-size: 0.8rem;
    width: 100%;
    height: 40px;

    text-align: center;
  }
}
