.booking-component {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 20px;
  background-color: #393a3a;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.booking-table {
  width: 100%;
  border-collapse: collapse;
}

.booking-table th,
.booking-table td {
  padding: 12px 15px;
  text-align: left;
}
.booking-table td {
  color: black;
}
.booking-table thead th {
  background-color: #4caf50;
  color: white;
}

.booking-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}
.booking-table tbody tr {
  background-color: #e2e2e2;
}
.booking-table tbody tr:hover {
  background-color: #d5d0d0;
}

.action-button {
  margin: 10px;

  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.accept-button {
  background-color: #4caf50;
  color: white;
}

.refuse-button {
  background-color: #f44336;
  color: white;
}

.action-button:hover {
  opacity: 0.8;
}
/* DELTE ABOVE MAYBE */

.loader-booking {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-content: center;
}
.loader-c {
  height: 50%;
}

.edit-booking-btn {
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
}
.pay-btn {
  background-color: #28a745;
  padding: 5px 10px;

  color: white;
}
.pay-btn:hover {
  background-color: #04eb3a;
}
.pay-btn:disabled {
  background-color: #6c757d; /* Gray color for disabled state */
  color: #ffffff; /* Ensure text is readable */
  cursor: not-allowed; /* Show a not-allowed cursor */
}
.delete-booking-btn {
  background-color: #dc3545;
  color: white;
  padding: 5px 10px;
  margin: 5px;
}
.action {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.rented-car-list {
  display: flex;
  flex-direction: column;
}

.accepted-class {
  background-color: green; /* or any other style */
  color: white;
  font-weight: bold;
  padding: 5px;
  border-radius: 10px;
}

.pending-class {
  background-color: orange; /* or any other style */
  color: white;
  font-weight: bold;
  padding: 5px;
  border-radius: 10px;
}
.no-booking {
  color: black;
  font-size: 2rem;
}
.refused-class {
  background-color: red;
  color: white; /* or any other style */
  font-weight: bold;
  padding: 5px;
  border-radius: 10px;
}

.rent-form-displays {
  position: absolute;
  width: 30%;
  z-index: 100;
  left: 35%;
  top: 10%;
}
.rent-form-container {
  height: 500px;
  position: relative;
}

.close-u-btn {
  position: absolute;
  top: 0%;
  right: -3%;
  font-size: 2.3rem;
  color: red;
  padding: 5px;
  transition: 0.5s;
}
.close-u-btn:hover {
  background-color: red;
  color: white;
}
/* <reset-style> ============================ */
.rented-car-list > a {
  text-decoration: none;
}

/* <main-style> ============================ */
.menu__link {
  color: #0b3dd3;
  line-height: 2;
  position: relative;
  display: inline-block; /* Ensure the link takes up space */
}

.menu__link::before {
  content: "";
  width: 0;
  height: 2px;
  border-radius: 2px;
  background-color: #000000;
  position: absolute;
  bottom: -0.25rem;
  left: 0;

  transition: 0.4s;
}

.menu__link:hover::before {
  width: 100%;
}

.Btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 180px;
  height: 40px;
  border: none;
  padding: 0px 20px;
  background-color: rgb(168, 38, 255);
  color: white;
  font-weight: 500;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 5px 5px 0px rgb(140, 32, 212);
  transition-duration: 0.3s;
}

.svg {
  width: 13px;
  position: absolute;
  right: 0;
  margin-right: 20px;
  fill: white;
  transition-duration: 0.3s;
}

.Btn:hover {
  color: transparent;
  background-color: rgb(168, 38, 255);
}

.Btn:hover svg {
  right: 43%;
  margin: 0;
  padding: 0;
  border: none;
  transition-duration: 0.3s;
}

.Btn:active {
  transform: translate(3px, 3px);
  transition-duration: 0.3s;
  box-shadow: 2px 2px 0px rgb(140, 32, 212);
}
