.notification-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.notification-container>span{
    color: darkblue;
    font-weight: 700;
}
.notification-container>p{
  width: 100%;
}