.contact-form {
  display: flex;
  justify-content: space-between;
  
  background-color: #ffffff;
  padding: 10px 20px;
  width: 70%;
  gap: 50px;
}

.contact-right {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-right > img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.form {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  height: 90%;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 20px 20px 60px #898989, -20px -20px 60px #b9b9b9;
}

.form .title {
  color: royalblue;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -1px;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form input {
  outline: 0;
  border: 1px solid rgb(219, 213, 213);
  padding: 8px 14px;
  border-radius: 8px;
  width: 100%;
  height: 50px;
}

.form textarea {
  border-radius: 8px;
  height: 100px;
  width: 100%;
  resize: none;
  outline: 0;
  padding: 8px 14px;
  border: 1px solid rgb(219, 213, 213);
}

.form button {
  align-self: flex-end;
  padding: 8px;
  outline: 0;
  border: 0;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  background-color: royalblue;
  color: #fff;
  cursor: pointer;
}

.contact-left {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1019px) {
  .contact-form {
    flex-direction: column;
    justify-content: center;
    width: 90%;
    align-items: center;
    height: fit-content;
  }

  .contact-left {
    width: 70%;
    height: 50%;
  }

  .contact-right {
    width: 70%;
    height: 50%;
  }
}

@media screen and (max-width: 787px) {
  .contact-right {
    width: 100%;
    height: auto;
  }

  .contact-left {
    width: 100%;
    height: auto;
  }

  .contact-right > img {
    width: 100%;
    height: auto;
  }
}
