.home {
  width: 100%;
  background-color: #edf1f8;

  /*   display: flex;
  flex-direction: column;
  align-items: center; */
  height: fit-content;
}
.header-container {
  height: 100vh;
  background: url("../../assets/4k-bmw-background-spcec5lxwjfnh9tb.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.home-title {
  color: var(--h1-color-white);
  position: absolute;
  top: 20%;
  left: 10%;
  font-size: 5rem;
  width: 40%;

  font-weight: bolder;
  font-family: "Courier New", Courier, monospace;
}

.home-decription {
  color: var(--h1-color-white);
  position: absolute;
  top: 60%;
  left: 50%;
  font-size: 1rem;
  width: 40%;
  font-weight: bolder;
  font-family: "Courier New", Courier, monospace;
}

.home-cars-container {
  width: 100%;
  background-color: #edf1f8;

  padding-top: 50px;
  display: flex;
  height: fit-content;

  align-items: flex-start;
  justify-content: center;
}
.home-cars {
  width: 70%;
  display: flex;
  justify-content: center;
  margin: 20px;
  gap: 20px;
  height: 100%;
}

.about-us-container {
  width: 100%;
  display: flex;
  justify-content: center;
  height: fit-content;
  color: var(--h1-color);
  background-color: #edf1f8;

  padding-top: 100px;
}

.about-us {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  width: 70%;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  margin: 20px;
}
.about-left {
  display: flex;
  justify-content: space-around;

  flex-direction: column;
}
.about-left-top > h1,
p {
  width: 70%;
}
.about-left-top {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.aboutUs-img {
  width: 100%;
  height: 100%;
}

.about-statistic {
  display: grid;
  gap: 20px;
  width: 70%;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.statistic {
  border-top: 1px yellow solid;
}
.review-partners {
  width: 100%;
  display: flex;

  padding-top: 50px;
  align-items: center;
  background-color: #edf1f8;

  flex-direction: column;
  height: fit-content;
}

.card-list {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: space-around;

  gap: 20px;
}

.review-avatar {
  width: 90px;
  height: 90px;
  margin-top: 20%;
  border-radius: 50%;
}

.review-card {
  width: 17em;
  height: 22.5em;
  background: var(--h1-color);
  transition: 1s ease-in-out;
  clip-path: polygon(
    30px 0%,
    100% 0,
    100% calc(100% - 30px),
    calc(100% - 30px) 100%,
    0 100%,
    0% 30px
  );
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review-card span {
  font-weight: bold;
  color: var(--body-background);

  text-align: center;
  display: block;
  font-size: 1em;
}

.review-card .info {
  font-weight: 400;
  color: var(--body-background);

  display: block;
  text-align: center;
  font-size: 0.72em;
  margin: 1em;
}

.review-card .img {
  width: 90px;
  height: 90px;
  margin: auto;
}

.review-card .share {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  gap: 1em;
}

.review-card a {
  color: var(--body-background);

  transition: 0.4s ease-in-out;
}

.review-card a:hover {
  color: red;
}

.partner-list {
  display: flex;
  justify-content: center;
  gap: 10%;
  padding: 50px;
  background-color: #edf1f8;

  width: 100%;
  height: fit-content;
}
.home-partner {
  text-align: center;
}
.home-partner > img {
  width: 70px;
  height: 70px;
}
.contactfrom {
  display: flex;
  height: fit-content;
  width: 100%;
  justify-content: center;
  background-color: #edf1f8;
}

.home-footer {
  width: 100%;
  margin-top: 100px;
  padding: 20px;
  background-color: #02091a;
  display: flex;
  justify-content: center;
  height: fit-content;
}

@media screen and (max-width: 1019px) {
  .home-cars {
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
  .header-container {
  }
  .home-cars-container {
    height: 25%;
    display: flex;
  }
  .about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    gap: 20px;
  }
  .about-left {
    align-items: center;
    gap: 30px;
  }
  .about-left-top {
    display: flex;

    justify-content: center;
    align-items: center;
  }

  .card-list {
    flex-direction: column;
    align-items: center;

    justify-content: center;
  }
  .review-partners {
    height: fit-content;
  }
  .contactfrom {
    height: fit-content;
  }
  .home-footer {
    height: fit-content;
  }
  .home-title {
    font-size: 3rem;
    font-weight: bolder;
    color: black;
    width: 80%;
  }
  .home-decription {
    font-size: 1.2rem;
    left: 50px;
    width: 80%;
    font-weight: bolder;
  }
}
