.notification-icon {
  font-size: 1.5rem;
  color: rgb(10, 28, 120);
}
.notification-component {
  position: relative;
}
.notification-list {
  background-color: aliceblue;
  position: absolute;
  left: -200px;
  top: 50px;
  width: 300px;
  border-radius: 5px;
  height: 70vh;
  overflow: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
@media screen and (max-width: 1019px) {
  .notification-list {
    left: 0px;
  }
}

.badge {
  padding: 3px;
  background-color: hsl(0, 100%, 46%);
  color: white;
  position: absolute;
  font-size: 1.2rem;
  border-radius: 5px;
  top: -25px;
  left: 15px;
}
