.users {
  display: flex;
  
  align-items: center;
  gap: 20px;
  padding: 10px;
  width: 50%;
}
#rented-lable {
  white-space: nowrap;
}
.user-img {
  width: 70px;
  border-radius: 50%;
  height: 70px;
}
.img-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
.user-container {
  display: flex;

  align-items: flex-start;
  width: 80%;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}
.rented-car-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.user-middle {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: start;
}

.user-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-left-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: start;
}
